.coupon__button-description {
  align-self: flex-end;
  width: calc(100vw / (760 / 165));
  height: calc(100vw / (760 / 35));
  border-radius: calc(100vw / (760 / 20));
  background: #2581B5;
  font-style: normal;
  font-weight: normal;
  font-size: calc(100vw / (760 / 14));
  line-height: 1.2;
  color: #fff;
  border: none;
  padding: 0;
  margin-right: calc(100vw / (760 / 4));
  cursor: pointer;
  transition: opacity 0.2s linear;
}

.coupon__button-description:hover {
  opacity: 0.8;
}

.coupon__button-description:active {
  outline: none;
}

.coupon__button-description:focus {
  outline: none;
}

@media screen and (min-width: 777px){
  .coupon__button-description {
    width: 165px;
    height: 35px;
    border-radius: 20px;
    font-size: 14px;
    margin-right: 4px;
  }
}

@media screen and (max-width: 320px){
  .coupon__button-description {
    width: calc(320px / (760 / 165));
    height: calc(320px / (760 / 35));
    border-radius: calc(320px / (760 / 20));
    font-size: calc(320px / (760 / 14));
    margin-right: calc(320px / (760 / 4));
  }
}
