.screen-home__order-arrow-image {
  width: calc(100vw / (760 / 30));
  height: calc(100vw / (760 / 17));
}

@media screen and (min-width: 777px){
  .screen-home__order-arrow-image {
    width: 30px;
    height: 17px;
  }
}

@media screen and (max-width: 320px){
  .screen-home__order-arrow-image {
    width: calc(320px / (760 / 30));
    height: calc(320px / (760 / 17));
  }
}
