.screen-home__content-buttons_salads {
  transform: translateY(calc(100vw / (760 / 10)));
  z-index: 4;
}

@media screen and (min-width: 777px){
  .screen-home__content-buttons_salads {
    transform: translateY(10px);
  }
}

@media screen and (max-width: 320px){
  .screen-home__content-buttons_salads {
    transform: translateY(calc(320px / (760 / 10)));
  }
}
