.coupon__title {
  width: calc(100vw / (760 / 377));
  font-style: normal;
  font-weight: normal;
  font-size: calc(100vw / (760 / 12));
  line-height: 1.2;
  color: #0C0C0D;
  padding-bottom: calc(100vw / (760 / 10));
  border-bottom-width: calc(100vw / (760 / 2));
  border-bottom-style: solid;
  border-bottom-color: #000;
  margin: calc(100vw / (760 / 15)) 0 calc(100vw / (760 / 26));
  text-indent: 0;
}

@media screen and (min-width: 777px){
  .coupon__title {
    width: 377px;
    font-size: 12px;
    padding-bottom: 10px;
    border-bottom-width: 2px;
    margin: 15px 0 26px;
  }
}

@media screen and (max-width: 320px){
  .coupon__title {
    width:  calc(320px / (760 / 377));
    font-size: calc(320px / (760 / 12));
    padding-bottom: calc(320px / (760 / 10));
    border-bottom-width: calc(320px / (760 / 2));
    margin: calc(320px / (760 / 15)) 0 calc(320px / (760 / 26));
  }
}
