@import url(../vendor/normalize.css);
@import url(../fonts/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/screen/screen.css);
@import url(../blocks/screen-start/screen-start.css);
@import url(../blocks/screen-start/__button/screen-start__button.css);
@import url(../blocks/screen-intermediate/screen-intermediate.css);
@import url(../blocks/screen-intermediate/__button/screen-intermediate__button.css);
@import url(../blocks/screen-home/screen-home.css);
@import url(../blocks/screen-home/__header/screen-home__header.css);
@import url(../blocks/screen-home/__header-button/screen-home__header-button.css);
@import url(../blocks/screen-home/__title/screen-home__title.css);
@import url(../blocks/screen-home/__content/screen-home__content.css);
@import url(../blocks/screen-home/__content-category/screen-home__content-category.css);
@import url(../blocks/screen-home/__content-buttons/screen-home__content-buttons.css);
@import url(../blocks/screen-home/__content-buttons/_burgers/screen-home__content-buttons_burgers.css);
@import url(../blocks/screen-home/__content-buttons/_salad/screen-home__content-buttons_salad.css);
@import url(../blocks/screen-home/__content-buttons/_drink/screen-home__content-buttons_drink.css);
@import url(../blocks/screen-home/__content-buttons/_coupons/screen-home__content-buttons_coupons.css);
@import url(../blocks/screen-home/__content-buttons/_stocks/screen-home__content-buttons_stocks.css);
@import url(../blocks/screen-home/__content-buttons/_active/screen-home__content-buttons_active.css);
@import url(../blocks/screen-home/__content-menu/screen-home__content-menu.css);
@import url(../blocks/screen-home/__content-menu/_display_flex/screen-home__content-menu_display_flex.css);
@import url(../blocks/product/product.css);
@import url(../blocks/product/_add-to-order/product_add-to-order.css);
@import url(../blocks/product/__text/product__text.css);
@import url(../blocks/product/__right/product__right.css);
@import url(../blocks/product/__button/product__button.css);
@import url(../blocks/product/__button/_added-to-order/product__button_added-to-order.css);
@import url(../blocks/product/__button/_display_none/product__button_display_none.css);
@import url(../blocks/product/__button-change/product__button-change.css);
@import url(../blocks/coupon/coupon.css);
@import url(../blocks/coupon/__title/coupon__title.css);
@import url(../blocks/coupon/__label/coupon__label.css);
@import url(../blocks/coupon/__input/coupon__input.css);
@import url(../blocks/coupon/__input/_type_error/coupon__input_type_error.css);
@import url(../blocks/coupon/__button-description/coupon__button-description.css);
@import url(../blocks/coupon/__input-error/coupon__input-error.css);
@import url(../blocks/coupon/__input-error/_active/coupon__input-error_active.css);
@import url(../blocks/coupon/__input-error/_p0/coupon__input-error_p0.css);
@import url(../blocks/coupon/__input-error/_p7/coupon__input-error_p7.css);
@import url(../blocks/coupon/__input/_type_message/coupon__input_type_message.css);
@import url(../blocks/coupon/__description/coupon__description.css);
@import url(../blocks/coupon/__button-submit/coupon__button-submit.css);
@import url(../blocks/coupon/__button-submit/_inactive/coupon__button-submit_inactive.css);
@import url(../blocks/screen-home/__order/screen-home__order.css);
@import url(../blocks/screen-home/__order-content/screen-home__order-content.css);
@import url(../blocks/order/order.css);
@import url(../blocks/order/_display_none/order_display_none.css);
@import url(../blocks/order/__delete-button/order__delete-button.css);
@import url(../blocks/order/__text/order__text.css);
@import url(../blocks/screen-home/__order-arrows/screen-home__order-arrows.css);
@import url(../blocks/screen-home/__order-arrow/screen-home__order-arrow.css);
@import url(../blocks/screen-home/__order-arrow-image/screen-home__order-arrow-image.css);
@import url(../blocks/screen-home/__order-arrows/_inactive/screen-home__order-arrow_inactive.css);
@import url(../blocks/coupon/__title/_stocks/coupon__title_stocks.css);
@import url(../blocks/stocks/stocks.css);
@import url(../blocks/stocks/_height_on/stocks_height_one.css);
@import url(../blocks/stocks/__title/stocks__title.css);
@import url(../blocks/stocks/__text/stocks__text.css);
@import url(../blocks/screen-home/__footer/screen-home__footer.css);
@import url(../blocks/screen-home/__footer-total/screen-home__footer-total.css);
@import url(../blocks/screen-home/__footer-button/screen-home__footer-button.css);


@import url(../blocks/screen/_opened/screen_opened.css);
