.screen-home__header {
  display: flex;
  align-items: center;
  width: calc(100vw / (760 / 485));
  height: calc(100vw / (760 / 70));
}

@media screen and (min-width: 777px){
  .screen-home__header {
    width: 485px;
    height: 70px;
  }
}

@media screen and (max-width: 320px){
  .screen-home__header {
    width: calc(320px / (760 / 485));
    height: calc(320px / (760 / 70));
  }
}
